@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background: linear-gradient(-45deg, #1ac09f,#a22157, #1b7b9f);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.box {
  animation: 2s show ease;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}